@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway';
  
  --light-green: #6ECCAF;
  --dark-green: #344D67;
  --white: whitesmoke;
  --translucid-white: #ffffffe6;
  --form-background: #5c7592e6;
  --form-typography-color: #223142;
  --card-background: #223142;
}

.outer-container {    
  height: 100vh;  
  width: 100vw;     
  background-image: url('../../../public/rickymorty-blur.jpg');  
  background-size: cover;
  background-repeat: no-repeat;  
  background-position: center;  
}

.inner-container { 
  display: flex;   
  height: 100%;  
  width: 100%;     
  background-image: url('../../../public/rickymorty.jpeg');  
  background-size: contain;
  background-repeat: no-repeat;  
  background-position: center;
  
  color: var(--white);
  font-size: 2rem;
}


main {
  width: 600px;
  height: 500px;
  margin: auto;
  text-align: center;
  border-radius: 10px;
  color: var(--dark-green);  
  background-color: var(--translucid-white);  
}

.home-title{
  font-size: 2.6rem;
  margin-top: 120px;
}

.home-buttons {
  display: flex;
  justify-content: space-around;
  padding: 0 140px;
  margin-top: 80px;
}

button {
  font-size: 1.3rem;
  padding: 10px 20px;
  border-width: 0px;
  border-radius: 8px;
  background-color: var(--dark-green);
  color: var(--light-green);
  transition: background-color 200ms, color 200ms;
}

button:hover {
  background-color: var(--light-green);
  color: var(--dark-green);
}


.test1{
  font-size: 10rem;
}