.filters{
    display: flex;
    width: fit-content;
    margin-top: 80px;
    margin-left: 21.5vw;
    padding: 16px 16px 10px 16px;
    background-color: #ffffffc5;
    color: var(--dark-green);
    border-radius: 10px 10px 10px 0px;
    
}

.filters-title{
    margin: auto;    
    font-size: 1.6rem;
    margin-right: 15px;    
    margin-left: 15px;    
}

.filters-switches{
    margin: 0 10px;    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1.5rem;    
}
